asgiref==3.7.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
certifi==2021.10.8
charset-normalizer==2.0.12
Django==4.2.1
idna==3.3
requests==2.27.1
soupsieve==2.3.2.post1
sqlparse==0.4.4
typing_extensions==4.6.3
urllib3==1.26.9
